*~
System/Cache/Data/*
System/Cache/Smarty/*
System/Logs/*
Logs/*
System/Cache/TextFragments/Previews/*
System/Cache/TextFragments/Live/*
System/Temporary/*
System/Cache/Pages/*
System/Cache/ObjectModel/Models/*
System/Cache/ObjectModel/DataObjects/*
System/Cache/Includes/*
System/Cache/Settings/*
System/Cache/SmartestEngine/*
Sites/*
Public/Resources/Images/*
Public/Resources/Stylesheets/*
Public/Resources/Javascript/*
Public/Resources/Assets/*
*/.svn/*
/.svn/*
Presentation/Layouts/*
Presentation/Masters/*
Presentation/ListItems/*
Presentation/SingleItem/*
Configuration/database.ini
Public/.htaccess
*.svn-base
*.svn-work