body{
    background-color:#9cc;
    margin:0px;
}

body, td, div, p{
    font-family:verdana, sans-serif;
}

form{
    margin:0px;
    padding:0px;
}

a img{
    border:0px;
}

h3{
    font-weight:bold;
}

div#fixed-width-container-outer{
    background-image:url('/Resources/Images/saponin_body_bg.gif');
    background-repeat:repeat-y;
}

div#top-bar{
    font-size:11px;
}

div#top-bar a{
    text-decoration:none;
    color:#333;
}

div#logo-banner{
    background-color:#000;
}

div#main-nav{
    background-color:#393;
}

div#main-nav ul li a{
    color:#fff;
    font-size:12px;
    text-decoration:none;
/*    font-weight:bold; */
}

div#main-nav ul li a:hover, div#main-nav ul li a.selected{
    background-color:#9c6;
}

div.menu{
    background-color:#fff;
    border:1px solid #393;
    border-top:0px;
}

div.menu ul{
    padding:0px;
    margin:0px;
    list-style-type:none;
}

div.menu ul li{
    font-size:11px;
    margin:0px;
    border:1px solid #fff;
    background-color:#fff;
}

div.menu ul li a{
    color:#444;
    display:block;
    padding:4px;
    text-decoration:none;
    margin:0px;
}

div.menu ul li a:hover{
/*    background-color:#003366; */
    color:#fff;
/*    background-color:#003366; */
    background-color:#360;
/*    border:1px solid #f00; */
}

div#page-content{
    
}

td#left-column div.menu-box, td#left-column div.menu-box-bottom{
    font-size:12px;
}

div#breadcrumbs{
    font-size:11px;
    margin-top:10px;
    margin-bottom:10px;
}

div#breadcrumbs a, ul.custom-search-links li a{
    
}

td#central-column{
    background-color:#fff;
}

td#left-column div.menu-box p, td#left-column div.menu-box-bottom p{
    font-size:11px;
}

td#left-column div.menu-box ul, td#left-column div.menu-box-bottom ul{
    font-size:12px;
}


div.list-item{
/*    font-size:0.8em; */
}

div.list-item a{
    color:#696;
    font-size:11px;
}

div#central-column-content{
/*    font-size:0.8em; */
}

div#central-column-content h4{
    font-size:0.9em;
}

div#central-column-content p, div#central-column-content blockquote{
/*    color:#696; */
    color:#444;
    margin:0px;
    font-size:12px;
    margin-bottom:8px;
    line-height:1.3em;
}

div#central-column-content li{
    color:#444;
    font-size:11px;
    margin:3px;
}

div#central-column-content ul{
    color:#696;
    margin:0px;
    padding:10px;
    padding-top:0px;
}

div#central-column-content a{
    color:#696;
}

div#central-column-content h3, div#central-column-content h4{
    color:#696;

}

div.child-pages-list{
    border-top:1px dotted #ccc;
}

div.child-pages-list ul li a{
    font-size:11px;
}

div.child-pages-list h5{
    font-size:12px;
}

div.list-item{
    color:#696;
    margin-bottom:10px;
}

div.list-item a{
    color:#696;
}

div#central-columns-holder{
    color:#696;
    margin-top:15px;
}

div#central-columns-left{
    color:#696;
    border-right:1px solid #696;
    padding-right:8px;
}

div#central-columns-right{
    color:#696;
    margin-left:8px;
}

div#central-columns-left ul, div#central-columns-right ul{
    font-size:11px;
    margin:5px 0 5px 5px;
    padding:0 0 0 10px;
}

div#shadow-bottom{
    background-image:url(/Resources/Images/saponin_body_shadow_bottom.gif);
    background-repeat:no-repeat;
}

/* Footer */

div#footer{
    font-size:11px;
    color:#696;
}

div#footer a{
    color:#696;
}