div#page-content{
    background-color:#fff;
/*    background-color:#d9e2ec; */
/*    background-image:url('/Resources/Images/d9e2ec.gif'); */
/*    background-color:#ccccff; */
/*    background-color:url('/Resources/Images/savannah_blue.gif'); */
}

td#left-column div.menu-box, td#left-column div.menu-box-bottom{
    background-color:#8dad6a;
}

td#left-column div.menu-box p, td#left-column div.menu-box-bottom p{
    color:#fff;
}

td#left-column div.menu-box ul, td#left-column div.menu-box-bottom ul{
    color:#315806; 
}

div#breadcrumbs a, ul.custom-search-links li a, td#left-column div.menu-box a{
    color:#315806;
}

td#central-column{
    background-color:#fff;
}

td#left-column div.menu-box h4, td#left-column div.menu-box-bottom h4{
    color:#fff;
}

td#left-column div.menu-box a, td#left-column div.menu-box-bottom a{
/*    color:#696; */
}

div#home-page-welcome-text{
    background-image:url('/Resources/Images/saponin_waves.gif');
    background-repeat:no-repeat;
    color:#696;
}

div#home-page-welcome-text p, div#home-page-welcome-text h4, div#home-page-welcome-text h3{
    color:#696;
}

div#home-page-body-text{
    background-color:#e7f4c9;
}

div#home-page-body-text ul{
/*    list-style-image:url('/Resources/Images/saponin_bullet_arrow_large.gif'); */
    list-style-type:none;
}

div#home-page-body-text ul li{
    background-image:url('/Resources/Images/saponin_bullet_arrow_large.gif');
    background-repeat: no-repeat;
    background-position: 0 .4em;
    color:#8EAD6A;
}