div#main-nav ul li a{
    display:block;
    padding-top:5px;
    height:20px;
}

div.menu-container{
    width:952px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    top:184px;
    text-align:left;
}