div#page-content{
    background-color:#fff;
/*    background-color:#d9e2ec; */
/*    background-image:url('/Resources/Images/d9e2ec.gif'); */
/*    background-color:#ccccff; */
/*    background-color:url('/Resources/Images/savannah_blue.gif'); */
}

td#left-column div.menu-box, td#left-column div.menu-box-bottom{
    background-color:#96a0de;
}

td#left-column div.menu-box p, td#left-column div.menu-box-bottom p{
    color:#fff;
}

td#left-column div.menu-box ul, td#left-column div.menu-box-bottom ul{
    color:#fff; 
}

td#left-column div.menu-box a, td#left-column div.menu-box-bottom a{
    color:#334f95; 
}

ul.custom-search-links li a, td#left-column div.menu-box a{
    color:#fff!important;
}

td#central-column{
    background-color:#fff;
}

td#left-column div.menu-box h4, td#left-column div.menu-box-bottom h4{
    color:#fff;
}

div#top-bar{
    background-color:#96a0de;
}