div#page-content{
/*    background-color:#dfc2a1; */
    background-color:#ECE3D9;
}

td#left-column div.menu-box, td#left-column div.menu-box-bottom{
/*    background-color:#dfc2a1; */
/*    background-color:#ffcc99; */
/*    background-color:#db9; */
    background-color:#cc9966;
    color:#894700;
}

div#breadcrumbs a, ul.custom-search-links li a{
    color:#894700;
}

td#central-column{
    background-color:#fff;
}

td#left-column div.menu-box h4, td#left-column div.menu-box-bottom h4{
    color:#fff;
}