div#admin-menu{
	background-color:#fff;
	border-right:1px solid #aaa;
}

div#admin-menu ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
	border-top:1px solid #aaa;
}

div#admin-menu ul li{
	font-size:12px;
	margin:0px;
	display:block;
	height:24px;
	/* border-bottom:1px solid #aaa; */
}

div#admin-menu ul li.off a{
	color: #333;
	padding-left:10px;
	padding-top:4px;
	height:20px;
	display:block;
}

div#admin-menu ul li.off a:hover{
	color: #333;
	text-decoration:none;
	padding-left:10px;
	padding-top:4px;
	height:20px;
	display:block;
}

div#admin-menu ul li.on a{
	color: #333;
	padding-left:10px;
	padding-top:4px;
	height:20px;
	display:block;
}

div#admin-menu ul li.on a:hover{
	color: #333;
	text-decoration:none;
	padding-left:10px;
	padding-top:4px;
	height:20px;
	display:block;
}