/*** Style ***/

div.menubar a.js-menu-activator{
    color:#333;
    background-color:#eee;
    text-decoration:none;
}

div.menubar a.js-menu-activator-current{
    background-color:#555;
    color:#eee;
    text-decoration:none;
}

div.js-menu{
    background-color:#eee;
    border:1px solid #ccc;
}

div.js-menu ul{
    list-style-type:none;
}

div.js-menu ul li{
    
}

div.js-menu ul li a{
    color:#333;
    cursor:default;
}

div.js-menu ul li a:hover{
    background-color:#555;
    color:#fff;
    text-decoration:none;
}

div.js-menu ul li span{
    color:#999;
    cursor:default;
}

/*** Layout ***/

div.menubar{
    margin:0 0 10px 0;
    height:18px;
}

div.menubar a{
    float:left;
    display:block;
    height:16px;
    padding:4px;
}

div.js-menu{
    width:200px;
    padding:5px 0 5px 0;
}

div.js-menu ul{
    margin:0px;
    padding:0px;
}

div.js-menu ul li{
    margin:0px;
    padding:0px;
}

div.js-menu ul li a{
    padding:3px;
    margin:0px;
    display:block;
}

div.js-menu ul li span{
    padding:3px;
    margin:0px;
    display:block;
}