#help{
    position:fixed;
    z-index:100;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding-top:90px;
    background-color:rgba(30, 30, 30, 0.3);
}

#help-viewer{
    width:550px;
    height:350px;
    background-color:#fff;
    border:3px solid #ccc;
    /* opacity: .8;
    filter: alpha(opacity=80); */
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    
    border-radius:12px;
    -moz-border-radius:12px;
    
    box-shadow: 0px 10px 22px #444;
    -moz-box-shadow: 0px 10px 22px #444;
    -webkit-box-shadow: 0px 10px 22px #444;
}

#help-viewer h1{
    margin:0 0 10px 0;
    font-size:20px;
}

#help-viewer h2{
    margin:0 0 8px 0;
    font-size:16px;
}

#help-viewer ul{
    padding:0px;
    margin:0 0 6px 20px;
}

#help-viewer li{
    margin:0 0 3px 0;
    font-size:12px;
}

#help-viewer p{
    margin:0 0 6px 0;
    font-size:12px;
}

#help-viewer p.small{
    margin:0 0 6px 0;
    font-size:10px;
    color:#666;
}

#help-updater{
    height:330px;
    width:520px;
    overflow:hidden;
}

#help-title-bar{
    color:#999;
    font-size:14px;
    margin-bottom:5px;
}

#help-closer{
    float:right;
    width:23px;
    height:23px;
    background-image:url(../Images/close_button_out.png);
    display:inline-block;
}

#help-closer:hover{
    background-image:url(../Images/close_button_over.png);
}

a.sm-help-link.button{
    /* background-image:url(../Images/buttonized-help-link-icon.png);
    background-repeat:no-repeat;
    background-position:3px 3px; */
    margin-top:1px;
    color:#fff;
    background-color:#999;
    display:inline-block;
    padding:2px 5px 2px 5px;
    border-radius:10px;
    -moz-border-radius:10px;
    font-size:12px;
}

a.sm-help-link.button:hover{
    background-color:#f90;
    text-decoration:none;
}