div#options-view-chooser{
	padding:4px;
	border-bottom:1px solid #ccc;
}

/* Grid View*/

ul.options-grid{
	padding:0px;
	border:0px;
	list-style-type:none;
	height:400px;
	text-align:left;
	margin:0px;
	overflow: scroll;
}

ul.options-grid li{
	display:block;
	width:110px;
	height:110px;
	float:left;
	background-color:#fff;
	text-align:center;
	border:0px solid #fff;
	padding:0px;
	font-size:0.9em;
}

ul.options-grid li a.option{
	display:block;
	width:110px ! important;
	height:110px;
	text-align:center;
	text-decoration:none;
	background-image:none;
	background-color:#fff;
	border:1px solid #fff;
	color:#333;
	overflow:hidden;
}

ul.options-grid li a.option:hover{
	background-color:#fff;
	background-image:url(../Images/option_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid li a.selected-option{
	display:block;
	width:110px ! important;
	height:110px;
	text-align:center;
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_off.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	border:1px solid #fff;
	padding:0px;
    color:#333;
    overflow:hidden;
}

ul.options-grid li a.selected-option:hover{
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	border:1px solid #fff;
	padding:0px;
/*	color:#f70; */
/*	color:#F4842A;  */
/*    color:#3f85dc; */
    color:#333;
}

ul.options-grid li a img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid li a.selected-option img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid li a.normal{
	display:inline;
	background-color:none;
	background-image:none;
}

/* Grid View Without Scrollbar*/

ul.options-grid-no-scroll{
	padding:0px;
	border:0px;
	list-style-type:none;
	text-align:left;
	margin:0px;
	overflow: visible;
}

ul.options-grid-no-scroll li{
	display:block;
	width:110px;
	height:110px;
	float:left;
	background-color:#fff;
	text-align:center;
	border:0px solid #fff;
	padding:0px;
	font-size:0.9em;
}

ul.options-grid-no-scroll li a.option{
	display:block;
	width:110px;
	height:110px;
	text-align:center;
	text-decoration:none;
	background-image:none;
	background-color:#fff;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid-no-scroll li a.option:hover{
	background-color:#fff;
	background-image:url(../Images/option_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid-no-scroll li a.selected-option{
	display:block;
	width:110px;
	height:110px;
	text-align:center;
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_off.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	border:1px solid #fff;
	padding:0px;
    /*    color:#3f85dc; */
    color:#333;
}

ul.options-grid-no-scroll li a.selected-option:hover{
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_on.gif);
	background-repeat:no-repeat;
	border:1px solid #fff;
	text-decoration:none;
	padding:0px;
    color:#333;
}

ul.options-grid-no-scroll li a img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid-no-scroll li a.selected-option img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

/* List View */

ul.options-list{
	padding:0px;
	border:0px;
	list-style-type:none;
	height:400px;
	text-align:left;
	margin:0px;
	overflow: scroll;
}

ul.options-list li{
	display:block;
	width:100%;
	height:30px;
	background-color:#fff;
	text-align:left;
	border:0px;
	padding:0px;
	font-size:0.9em;
}

ul.options-list li a.option{
	display:block;
	width:100%;
	height:30px;
	text-align:left;
	background-image:none;
	text-decoration:none;
	border:0px;
	color:#333;
}

ul.options-list li a.option:hover{
	background-color:#ddd;
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:0px;
	color:#333;
}

ul.options-list li a.selected-option{
	display:block;
	width:100%;
	height:30px;
	text-align:left;
	text-decoration:none;
/*	background-color:#FFEBCB; */
    background-color:#69f;
	border:0px;
	padding:0px;
	font-weight:bold;
    /*	color:#f70; */
    /*	color:#F4842A;  */
    /*  color:#3f85dc; */
    /* color:#333; */
    color:#fff;
}

ul.options-list li a.selected-option:hover{
	background-color:#69f;
	border:0px;
	padding:0px;
	text-decoration:none;
    /*	color:#f70; */
    /*	color:#F4842A;  */
    /*  color:#3f85dc; */
    color:#fff;
}

ul.options-list li a img{
	margin-left:4px;
	margin-right:4px;
	margin-top:5px;
	width:16px;
	height:18px;
}

ul.options-list li a.selected-option img{
	margin-left:4px;
	margin-right:4px;
	margin-top:5px;
	width:16px;
	height:18px;
}
