body{
    font-family:lucida grande,verdana,sans-serif;
    font-size:100%;
    margin:0px;
    padding-bottom:20px;
}

a img{
    border:0px;
}

@font-face {
    font-family: "source-sans";
    src: url(../Fonts/SourceSansPro-ExtraLight.otf.woff);
}

@font-face {
    font-family: "source-sans";
    src: url(../Fonts/SourceSansPro-Semibold.otf.woff);
    font-weight: bold;
}

form{
    margin:0px;
}

h1{
    margin:0px;
    margin-bottom:15px;
    color:#333;
    font-family: "source-sans";
}

h3{
    margin:0px;
    margin-top:30px;
    color:#333;
    font-family: "source-sans";
}

#pagewidth{
    width:100%;
}

#top-strip{
	background-color:#000;
	height:48px;
	border:0px;
	padding-left:5px;
}

#container{
    width:750px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}

#container p, #container li{
    font-size:0.8em;
}

#container p code{
    font-size:1.5em;
}

div.v-spacer{
    clear:both;
    height:20px;
}

ul.errors-list{
    color:#f31;
    list-style-type:none;
    margin:0px;
    padding:0 0 10px 0;
}

.form-section-label{
    padding-bottom:10px;
    font-size:15px;
    font-weight:bold;
}

.form-row{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}

.form-row-label{
    float:left;
    width:160px;
    color:#999;
}

input[type="text"], input[type="password"]{
    width:300px;
    height:22px;
    font-size:1.1em;
    color:#333;
    padding:3px;
    border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid #ccc;
}

.button{
    float:right;
    font-size:16px;
}

.button a{
    display:block;
    padding:5px;
    text-decoration:none;
}

.normal-button{
    border:2px solid #57f;
}

.normal-button a{
    color:#666;
}

.hint{
    color:#999;
}