div#options-view-chooser{
	padding:4px;
	border-bottom:1px solid #ccc;
}

/* Grid View*/

ul.options-grid{
	padding:0px;
	border:0px;
	list-style-type:none;
	height:400px;
	text-align:left;
	margin:0px;
	overflow: scroll;
}

ul.options-grid li{
	display:block;
	width:110px;
	height:110px;
	float:left;
	background-color:#fff;
	text-align:center;
	border:0px solid #fff;
	padding:0px;
	font-size:0.9em;
}

ul.options-grid li a.option{
	display:block;
	width:110px ! important;
	height:110px;
	text-align:center;
	text-decoration:none;
	background-image:none;
	background-color:#fff;
	border:1px solid #fff;
	color:#333;
	overflow:hidden;
}

ul.options-grid li a.option:hover{
	background-color:#fff;
	background-image:url(../Images/option_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid li a.selected-option{
	display:block;
	width:110px ! important;
	height:110px;
	text-align:center;
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_off.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	border:1px solid #fff;
	padding:0px;
    color:#333;
    overflow:hidden;
}

ul.options-grid li a.selected-option:hover{
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	border:1px solid #fff;
	padding:0px;
/*	color:#f70; */
/*	color:#F4842A;  */
/*    color:#3f85dc; */
    color:#333;
}

ul.options-grid li a img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid li a img.list, ul.options-grid li a.selected-option img.list{
	display:none;
}

ul.options-grid li a.selected-option img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid li a.normal{
	display:inline;
	background-color:none;
	background-image:none;
}

/** New options grid for Images **/

ul.options-grid.images{
	padding:0 0 10px 0;
	height:440px;
	background-color:#666;
	-moz-box-shadow:    inset 2px 2px 8px #000000;
  -webkit-box-shadow: inset 2px 2px 8px #000000;
  box-shadow:         inset 2px 2px 8px #000000;
}

ul.options-grid.images li{
  background-color:transparent;
  margin:10px 0 0 10px;
  width:112px ! important;
	height:112px! important;
}

ul.options-grid.images li a{
  -moz-box-shadow:    3px 3px 6px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  box-shadow:         3px 3px 6px 0px rgba(0,0,0,0.4);
}

ul.options-grid.reorderable li a, ul.options-list.reorderable li a{
  cursor:move;
}

ul.options-grid.images li a.option{
  width:100px ! important;
	height:100px! important;
	border:6px solid #fff;
	background-color:#fff;
}

ul.options-grid.images li a.option:hover{
  background-image:none;
}

ul.options-grid.images li a.selected-option{
  border:6px solid #3f85dc;
  background-image:none;
  width:100px ! important;
	height:100px! important;
}

ul.options-grid.images li a.selected-option:hover{

}

ul.options-grid.images li a img{
	margin-top:0px;
	width:100px;
	height:100px;
}

ul.options-grid.images li a.selected-option img{
	width:100px;
	height:100px;
}

/* Grid View Without Scrollbar*/

ul.options-grid-no-scroll{
	padding:0px;
	border:0px;
	list-style-type:none;
	text-align:left;
	margin:0px;
	overflow: visible;
}

ul.options-grid-no-scroll li{
	display:block;
	width:110px;
	height:110px;
	float:left;
	background-color:#fff;
	text-align:center;
	border:0px solid #fff;
	padding:0px;
	font-size:0.9em;
}

ul.options-grid-no-scroll li a.option{
	display:block;
	width:110px;
	height:110px;
	text-align:center;
	text-decoration:none;
	background-image:none;
	background-color:#fff;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid-no-scroll li a.option:hover{
	background-color:#fff;
	background-image:url(../Images/option_bg_on.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:1px solid #fff;
	color:#333;
}

ul.options-grid-no-scroll li a.selected-option{
	display:block;
	width:110px;
	height:110px;
	text-align:center;
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_off.gif);
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	border:1px solid #fff;
	padding:0px;
    /*    color:#3f85dc; */
    color:#333;
}

ul.options-grid-no-scroll li a.selected-option:hover{
	background-color:#fff;
	background-image:url(../Images/selectedOption_bg_on.gif);
	background-repeat:no-repeat;
	border:1px solid #fff;
	text-decoration:none;
	padding:0px;
    color:#333;
}

ul.options-grid-no-scroll li a img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

ul.options-grid-no-scroll li a.selected-option img{
	display:block;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:65px;
	height:73px;
}

/* List View */

ul.options-list{
	padding:0px;
	border:0px;
	list-style-type:none;
	height:400px;
	text-align:left;
	margin:0px;
	overflow: scroll;
}

ul.options-list li{
	display:block;
	width:100%;
	height:30px;
	background-color:#fff;
	text-align:left;
	border:0px;
	padding:0px;
	font-size:0.9em;
}

ul.options-list li a.option{
	display:block;
	width:100%;
	height:30px;
	text-align:left;
	background-image:none;
	text-decoration:none;
	border:0px;
	color:#333;
}

ul.options-list li a.option:hover{
	background-color:#ddd;
	background-repeat:no-repeat;
	text-decoration:none;
	padding:0px;
	border:0px;
	color:#333;
}

ul.options-list li a.selected-option{
	display:block;
	width:100%;
	height:30px;
	text-align:left;
	text-decoration:none;
/*	background-color:#FFEBCB; */
    background-color:#69f;
	border:0px;
	padding:0px;
	font-weight:bold;
    /*	color:#f70; */
    /*	color:#F4842A;  */
    /*  color:#3f85dc; */
    /* color:#333; */
    color:#fff;
}

ul.options-list li a.selected-option:hover{
	background-color:#69f;
	border:0px;
	padding:0px;
	text-decoration:none;
    /*	color:#f70; */
    /*	color:#F4842A;  */
    /*  color:#3f85dc; */
    color:#fff;
}

ul.options-list li a img{
	margin-left:4px;
	margin-right:4px;
	margin-top:5px;
	width:16px;
}

ul.options-list li a img.grid, ul.options-list li a.selected-option img.grid{
	display:none;
}

ul.options-list li a img.list, ul.options-list li a.selected-option img.list{
	display:inline-block;
}

ul.options-list li a.selected-option img{
	margin-left:4px;
	margin-right:4px;
	margin-top:5px;
	width:16px;
}


