body{
	margin:0px;
	overflow-x:hidden;
	height:100%;
	overflow-y:auto;
	padding:0px;
}

form{
	margin:0px;
	width:100%;
}

div{
	text-align:left;
}

div#top-strip{
	position:absolute;
	left:0px;
	top:2px;
	width:100%;
	height:38px;
	z-index:20;
}

div#top-strip img{
	display:block;
}

div#user-info{
	position:absolute;
	left:0px;
	top:8px;
	width:100%;
	height:20px;
	z-index:22;
}

div#global-container{
	width:850px;
	padding:0px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

div#main-interface-container{
	padding:0px;
	text-align:left;
}

div#main-interface-container h3{
	margin-left:0px;
	margin-top:10px;
}

div#main-interface{
	margin:10px;
	width:100%;
}

div#work-area{
	margin:0px;
	margin-top:45px;
	padding-right:220px;
	padding-left:175px;
}

div#work-area h3{
	margin:0px;
	margin-bottom:10px;
    padding:9px;
}

div#work-area h4{
	margin:0px;
	margin-bottom:7px;
    padding:5px;
}

div#work-area textarea#tpl_textArea{
	height:400px;
	width:100%;
	padding:0;
	margin:0;
	display:block;
}

div#actions-area{
	position:absolute;
	right:0px;
	top:45px;
	height:100%;
	width:200px;
	z-index:16;
	padding:5px;
}

div.edit-form-row{
    border-bottom:1px dotted #ddd;
    padding-bottom:3px;
    margin-bottom:7px;
}

div.top-pad{
	width:100%;
	height:30px;
}

div.user-message{
	width:450px;
	height:110px;
	position:absolute;
	padding:12px 12px 0 10px;
	margin-bottom:10px;
}

div.user-message img{
    float:left;
}

div.user-message-text{
    margin-left:70px;
    margin-top:17px;
}

input.user-message-dismiss{
	display:block;
	float:right;
	margin:80px 0 10px 0;
}

ul#item-specific-actions{
	margin-bottom:10px;
	padding-bottom:10px;
}

div#preview{
	margin:0px;
	margin-top:4px;
	margin-right:40px;
	padding:3px;
	text-align:right;
	position:absolute;
	top:150px;
	left:173px;
	right:10px;
}

div#preview iframe{
	display:block;
	width:100%;
}

div#preview-actions-menu{
    position:absolute;
	top:143px;
	left:173px;
	z-index:100;
}

div.instruction{
	margin-bottom:10px;
	margin-left:0px;
}

div.form-section-label{
	margin:0px;
	margin-bottom:4px;
	margin-top:4px;
	padding:3px;
}

div.buttons-bar{
	margin:0px;
	margin-top:4px;
	padding:3px;
	text-align:right;
}

div#footer{
	text-align:center;
	float:left;
	width:100%;
}