body{
	background-color:#fff;
	text-align:center;
	background-repeat: no-repeat;
	background-position: top center;
}

td{
	font-size:12px;
}

h3{
	margin:0px;
	margin-top:10px;
	margin-bottom:10px;
}

div{
 	font-family: lucida grande,verdana,sans-serif;
}

a img{
    border:0px;
}

div#top-strip{
	background-color:#333;
	color:#eee;
}

div#top-strip h3{
	font-size:0.8em;
	height:25px;
	
}

div.user-message{
	background-color:#eee;
	text-align:left;
	border:1px solid #999;
	font-size:0.8em;
}

.form-hint{
    font-size:10px;
    color:#666;
    padding-left:6px;
}

div#user-info{
	color:#eee;
	font-size:0.8em;
	text-align:right;
}

.text{
	color: #555;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
}

div#preview{
    background-color:#fff;
}

div#preview iframe.building{
    border:0px;
}

div#preview iframe.built{
    border:1px solid #999;
}

.textarea-holder{
    border:1px solid #999;
}

textarea#tpl_textArea{
	border:1px solid #999;
	background-color:#fff;
}

a#site-exit-button{
    float:right;
    /* padding-right:3px; */
    margin:4px 0 0 0;
    width:10px;
    height:16px;
    display:block;
    background-image:url('../Images/site_exit_off.png');
    background-repeat:no-repeat;
}

a#site-exit-button:hover{
    background-image:url('../Images/site_exit_on.png');
}

ul.basic-list{
    list-style-type:disc;
    list-style-image:url('../Images/generic_bullet.gif');
    padding:10px;
    margin:15px;
    margin-top:5px;
    padding-top:0px;
}

ul.scroll-list{
    overflow: scroll;
    margin:0px;
    padding-left:25px;
}

ul.basic-list li{
    padding:4px;
}

ul.basic-list li a{
    color:#444;
}

ul.basic-list li a:hover{
    color:#F4842A;
}

/* .blue_text{
	color: #1267C9;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
} 

.navigation_link{
	color: #FFF;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
}

.navigation_link:hover{
	color: #FFF;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
	background-color: #1267C9;
}

.sub_navigation_link{
	color: #1267C9;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
}

.sub_navigation_link:hover{
	color:#1267C9;
	font-family:lucida grande,verdana,sans-serif;
	font-size:12px;
	text-decoration:underline;
	padding:4px;
} */

a{
    color:#F4842A;
    /* color:#777; */
    /* color:#4180F9; */
	text-decoration:none
}

a:hover{
    color:#F4842A;
    /* color:#999; */
    /* color:#3868FF; */
	text-decoration:underline
}

#sm-signout-link{
    color:#F4842A;
}

div#main-interface-container{
	background-color:#fff;
	color:#555;
}

div#work-area, div#work-area-full{
	font-size:12px;
}

div#work-area h3, div#work-area-full h3{
    color:#555;
    font-size:1.4em;
    letter-spacing: 1px;
    font-weight:normal;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    background-color:#d9d8d8;
	border:1px solid #cbcbcb;
	border-radius:6px;
    -moz-border-radius:6px;
	background-image:url('../Images/interface_title_bg.gif');
    background-repeat:repeat-x;
}

div#work-area h3 a, div#work-area-full h3 a{
	color:#555;
}

div#work-area h4, div#work-area-full h4{
    color:#555;
    font-size:1.2em;
    letter-spacing: 1px;
    font-weight:normal;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    /* background-color:#eee;
	border:1px solid #ccc; */
}

div#work-area div.edit-form-row h4{
    font-size:14px;
    font-weight:bold;
    font-family: lucida grande,verdana,sans-serif;
}

div#actions-area{
	font-size:12px;
	background-color:#fff;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
}

ul#item-specific-actions{
	
}

div.instruction{
	font-size:12px;
}

div.form-section-label{
	font-size:1.1em;
	background-color:#f0f0f0;
	border:1px solid #ddd;
	color:#666;
}

div.edit-form-row{
    border:1px dotted #e8e8e8;
    border-radius:6px;
    -moz-border-radius:6px;
}

div.edit-form-row select{
	width:380px;
}

div.edit-form-row input[type="text"], div.edit-form-row input[type="password"], input.free-sl-text-input[type="text"]{
	width:400px;
	height:25px;
	padding:3px;
	font-size:18px;
	color:#666;
	border:1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

div.buttons-bar{
	font-size:1.1em;
	color:#fff;
	border:1px solid #999;
	background-color:#aaa;
	background-image:url('../Images/admin_button_bar_bg.gif');
	background-repeat:repeat-x;
	border-radius:6px;
    -moz-border-radius:6px;
}

div.special-box{
    font-size:12px;
    border:3px solid #ccc;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color:#eee;
    padding:5px;
    margin:10px 0 10px 0;
}

div.special-box a{
    color:#F4842A;
}

div.special-box .heading{
    color:#333;
    font-weight:bold;
}

div.special-box div.form-section-label{
    border:0px;
    background-color:#ddd;
}

div.warning{
    font-size:12px;
    border:3px solid #EB9A38;
    background-color:#F5C564;
    border-radius:6px;
    -moz-border-radius:6px;
}

div.warning a{
    color:#F4842A;
}

div.error{
    font-size:12px;
    border:1px solid #d00;
    background-color:#fdd;
    padding:5px;
    margin:10px 0 10px 0;
}

table.info-table{
    width:100%;
    /* background-color:#ccc; */
    margin-top:10px;
}

table.info-table td{
    padding:2px;
    background-color:#fff;
}

table.info-table td.field-name{
    text-align:right;
    color:#666;
}

div#footer{
	font-size:9px;
	font-family:arial,sans-serif;
	color:#999;
}

ul.re-orderable-list{
    margin:0px;
    padding:0px;
}

ul.re-orderable-list li{
    padding:5px;
    background-color:#f8f8f8;
    border:1px solid #ddd;
    margin-bottom:5px;
}

ul.re-orderable-list li div.buttons{
    float:right;
}

div._new-desktop-column-inner h4{
    border:0;
    background-color:#fff;
    padding:0px!important;
}

div._new-desktop-column-inner h4{
    border:0;
    background-color:#fff;
    padding:0px!important;
}

ul._new-desktop-options-list{
    border:1px solid #ddd;
}

ul._new-desktop-options-list li{
    
}

ul._new-desktop-options-list li.divider{
    height:8px;
}

ul._new-desktop-options-list li a{
    
}

ul._new-desktop-square-buttons{
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
}

ul._new-desktop-square-buttons li{
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}

ul._new-desktop-square-buttons li a{
    color:#444;
}

ul._new-desktop-square-buttons li a:hover{
    text-decoration:none;
    background-color:#f0f0f0;
}

a.right-nav-link{
	color:#444;
	text-decoration:none;
	width:100%;
	display:block
}

a.mainpanel-link{
	color:#444;
	text-decoration:none
}

ul.item_property_actions{
    list-style-type:none;
}

ul.item_property_actions li a{
    border: 1px solid #ccc;
}

ul.item_property_actions li a:hover{
    background-color:#eee;
}