body{
	background-color:#fff;
	text-align:center;
	background-repeat: no-repeat;
	background-position: top center;
}

td{
	font-size:12px;
}

h3{
	margin:0px;
	margin-top:10px;
	margin-bottom:10px;
}

div{
 	font-family: lucida grande,verdana,sans-serif;
}

a img{
  border:0px;
}

div#top-strip{
	background-color:#333;
	color:#eee;
}

div#top-strip h3{
	font-size:0.8em;
	height:25px;
	
}

div.user-message{
	background-color:#eee;
	text-align:left;
	border:1px solid #999;
	font-size:0.8em;
}

.form-hint{
    font-size:10px;
    color:#666;
    padding-left:6px;
}

div#user-info{
	color:#eee;
	font-size:0.8em;
	text-align:right;
}

.text{
	color: #555;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
}

div#preview{
    background-color:#fff;
}

div#preview iframe.building{
    border:0px;
}

div#preview iframe.built{
    border:1px solid #999;
}

#editTMPL{
    border:1px solid #999;
}

textarea#tpl_textArea{
	border:1px solid #999;
}

ul.basic-list{
    list-style-type:disc;
    list-style-image:url('../Images/generic_bullet.gif');
    padding:10px;
    margin:15px;
    margin-top:5px;
    padding-top:0px;
}

ul.scroll-list{
    overflow: scroll;
    margin:0px;
    padding-left:25px;
}

ul.basic-list li{
    padding:4px;
}

ul.basic-list li a{
    color:#444;
}

ul.basic-list li a:hover{
    color:#F4842A;
}

/* .blue_text{
	color: #1267C9;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
} 

.navigation_link{
	color: #FFF;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
}

.navigation_link:hover{
	color: #FFF;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
	background-color: #1267C9;
}

.sub_navigation_link{
	color: #1267C9;
	font-family: lucida grande,verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
}

.sub_navigation_link:hover{
	color:#1267C9;
	font-family:lucida grande,verdana,sans-serif;
	font-size:12px;
	text-decoration:underline;
	padding:4px;
} */

a{
    /* color:#F4842A; */
    /* color:#777; */
    color:#4180F9;
	text-decoration:none
}

a:hover{
    /* color:#F4842A; */
    /* color:#999; */
    color:#3868FF;
	text-decoration:underline
}

#sm-signout-link{
    color:#F4842A;
}

div#main-interface-container{
	background-color:#fff;
	color:#555;
}

div#work-area{
	font-size:12px;
}

div#work-area h3{
    color:#555;
    font-size:1.4em;
    letter-spacing: 1px;
    font-weight:normal;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    background-color:#d9d8d8;
	border:1px solid #cbcbcb;
	background-image:url('../Images/interface_title_bg.gif');
    background-repeat:repeat-x;
}

div#work-area h3 a{
	color:#555;
}

div#work-area h4{
    color:#555;
    font-size:1.2em;
    letter-spacing: 1px;
    font-weight:normal;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    background-color:#eee;
	border:1px solid #ccc;
}

div#actions-area{
	font-size:12px;
	background-color:#fff;
	border-left:1px solid #aaa;
	border-top:1px solid #aaa;
}

ul#item-specific-actions{
	
}

div.instruction{
	font-size:12px;
}

div.form-section-label{
	font-size:1.1em;
	background-color:#f4f4f4;
	border:1px solid #ddd;
	color:#666;
}

div.edit-form-row select{
	width:320px;
}

div.edit-form-row input[type="text"]{
	width:320px;
}

div.buttons-bar{
	font-size:1.1em;
	color:#fff;
	border:1px solid #999;
	background-color:#aaa;
	background-image:url('../Images/admin_button_bar_bg.gif');
	background-repeat:repeat-x;
}

div.special-box{
    font-size:12px;
    border:3px solid #ccc;
    border-radius:3px;
    background-color:#eee;
    padding:5px;
    margin:10px 0 10px 0;
}

div.special-box a{
    color:#F4842A;
}

div.special-box .heading{
    color:#333;
    font-weight:bold;
}

div.special-box div.form-section-label{
    border:0px;
    background-color:#ddd;
}

div.warning{
    font-size:12px;
    border:3px solid #EB9A38;
    background-color:#F5C564;
    padding:5px;
    margin:10px 0 10px 0;
}

div.error{
    font-size:12px;
    border:1px solid #d00;
    background-color:#fdd;
    padding:5px;
    margin:10px 0 10px 0;
}

div#footer{
	font-size:9px;
	font-family:arial,sans-serif;
	color:#999;
}

ul.re-orderable-list{
    margin:0px;
    padding:0px;
}

ul.re-orderable-list li{
    padding:5px;
    background-color:#f8f8f8;
    border:1px solid #ddd;
    margin-bottom:5px;
}

ul.re-orderable-list li div.buttons{
    float:right;
}

/******** Top Nav *******/

/* ul.top-nav-buttons li{
	display:block;
	float:left;
	width:50px;
	text-align:center;
	margin:0px;
	margin-top:10px;
	margin-left:10px;
	line-height:1em;
}

a.top-nav-link{
	color:#555;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
}

a.top-nav-link:hover{
	color:#555;
	text-decoration:underline;
	font-weight:normal;
}

img.top-nav-icon{
	width:40px;
}

a.prefpane-tab{
	padding:7px;
	border:1px solid #999;
	border-bottom: 0px;
	background-color:#eee;
}

a.prefpane-tab:hover{
	padding:7px;
	border:1px solid #999;
	border-bottom: 0px;
	background-color:#fff;
} */

a.right-nav-link{
	color:#444;
	text-decoration:none;
	width:100%;
	display:block
}

a.mainpanel-link{
	color:#444;
	text-decoration:none
}

/* div#horizontal-nav{
	width:830px;
	height:25px;
	border:1px solid #ccc;
	margin-bottom:10px;
	background-color:#e5e5e5;
}

div#horizontal-nav a{
	font-size:12px;
	color:#333;
	display:block;
	float:left;
	padding:5px;
	border-right:1px solid #ccc;
	background-color:#fff;
} */

/*** Buttons ***/

/* a.button{
	color:#333;
	text-decoration:none;
	background-image:url(/Resources/Images/grey_button_bg.gif);
	height:22px;
}

a.button img{
	border:none;
	display:block;
	float:left;
}

a.button span{
	display:block;
	float:left;
	height:22px;
	vertical-align:middle;
}

a.button:hover{
	color:#333;
	text-decoration:none;
	background-image:url(/Resources/Images/grey_button_bg.gif);
	height:22px;
} */